body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.contact-container {
    width: 50%;
    margin: 8vh auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #002147;
}

.contact-form {
    margin-top: 30px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 92%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #002147;
    border-radius: 4px;
}

textarea {
    resize: vertical;
    height: 120px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #002147;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #ff6600 !important;
}

@media (max-width: 768px) {
    .contact-container {
        width: 80%;
        max-width: 500px;
    }
}


@media (max-width: 480px) {
    .contact-container {
        width: 90%;
        max-width: 300px;
    }
}

.contactPage {
    display: flex;
    /* margin: 5% 10%; */
    width: fit-content;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 2%;
}

.contactMsg {
    width: 50%;
    background-color: red;
    margin: 8vh auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 2%;


}