body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

.signup-container {
    width: 50%;
    margin: 3% 3%;
    padding: 2%;
    background-color: #fff;
    border-radius: 2%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #002147;
}

.signup-form {
    margin-top: -10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #002147;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #002147;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #ff6600;
}

.login-link {
    text-align: center;
    margin-top: 15px;
}

.login-link p {
    color: #002147;
}

.login-link a {

    text-decoration: underline;

}

.login-link a:hover {
    color: #ff6600;
}

@media (max-width: 768px) {
    .signup-container {
        width: 80%;
        max-width: 500px;
    }
}





@media (max-width: 480px) {
    .signup-container {
        width: 90%;
        max-width: 300px;
    }
}

/* In register.css */

.otp-container {
    display: flex;
    /* Use flexbox to place OTP input and button in the same row */
    align-items: center;
    /* Vertically center align items */
    gap: 10px;
    /* Add some space between the input and button */
}

.otp-input {
    /* Style for OTP input field */
    padding: 10px;
    width: 150px;
    /* Adjust the width as needed */
}

.otp-button {
    /* Style for the "Request OTP" button */
    padding: 10px 20px;
    margin: -50px 0px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.otp {
    color: red;
    margin: 13px;
}

.RegContainer {
    display: flex;
    /* align-items: center; */

    margin: 5% 20%;
    background: linear-gradient(195deg, #1c4ff6, #ff0000);
    border-radius: 2%;
}

.RegMsg {
    color: #ffff;
    width: 400px;
    margin: 1% 2%;
    padding: 3% 1%;
    /* background-color: red; */
    /* border-radius: 20%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    opacity: 88%;
}

.RegMsg h3 {
    text-decoration: underline;
}

.RegMsg ul li {
    text-decoration: none;
}

.userName {
    display: flex;
}

.userName input {
    margin: 10px 5px 10px 0px;
    width: 47%;
}

@media (max-width: 1150px) {
    .RegContainer {
        margin: 5% 10%;

    }
}

@media (max-width: 860px) {
    .RegContainer {
        margin: 5% 5%;

    }
}

@media (max-width: 400px) {
    .RegContainer {

        display: block;
    }
}