* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #fff;
  color: #333;
}
.logo {
  height: 40px;
}

.nav {
  background-color: #fff;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*.nav .nav-btn {
  display: none;
}*/

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  padding: 5px 20px 4px 20px;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 5px 20px 4px 20px;
}

.nav li:active {
  background-color: #002147;
  color: #fff;
  border-top: 4px solid orangered;
}

.nav li:hover {
  background-color: #002147;
  color: #fff;
  border-bottom: 4px solid;
  border-color: #ff6600;
  border-radius: 2px;
  transition: background-color 0.5s;
}
