body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.slider-container {
    display: flex;
    overflow: hidden;
    height: 100vh;
    /* Ensure the slider container takes the full viewport height */
}

.slide {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    position: absolute;
    left: -100%;
    transition: left 1s ease;
    color: white;
    /* Text color */
}

.slide.active {
    left: 0;
}

/* Define the background gradient for each slide */
.slide:nth-child(1) {
    background: linear-gradient(to right, #FF5733, #FFAB33);
}

.slide:nth-child(2) {
    background: linear-gradient(to right, #33FF57, #33FFAB);
}

.slide:nth-child(3) {
    background: linear-gradient(to right, #5733FF, #AB33FF);
}