.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

form-container,
.login-form {
  width: 300px;
  margin: 18vh auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(22, 13, 1, 0.541);
}

form-container,
.register-form {
  width: 400px;
  margin: 65px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #002147;
}

input {
  width: 92%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #041574;
  border-radius: 4px;
}

button {
  width: 92%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #041574;
  border-radius: 4px;
}

button:hover {
  background-color: #ff6600;
}

.link-btn {
  background: none;
  text-decoration: underline;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
